@import '~bootstrap/scss/mixins';
// @import './bootstrap_variables';
@import './variables';

$container-max-widths: map-merge(
  (
    xs: 540px,
  ),
  $container-max-widths
);

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.75);

  &-dialog {
    display: none;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    margin: 0 3%;
    background-color: $bg-light;
    border-radius: 7px;

    @each $size, $maxWidth in $grid-breakpoints {
      @include media-breakpoint-up($size) {
        max-width: map-get($container-max-widths, #{$size}) - (2 * $spacing-md);
      }
    }
      .modal.full-screen & {
        max-width: none !important;
        width: 100%;
        min-height: 100%;
        margin: 0;
        border-radius: 0;
      }
      // full-screen for >= sm
      @include media-breakpoint-down(sm) {
        max-width: none !important;
        width: 100%;
        min-height: 100%;
        margin: 0;
        border-radius: 0;
      }

  }
  &-content {
    padding: $spacing-xl;
    border-radius: $border-radius-default;

    max-height: 100vh;
    overflow-y: auto;
    input {
      background-color: #fff;
    }
  }
  &-intro {
    margin: (-1 * $spacing-xl) (-1 * $spacing-xl) $spacing-xl;

    > * {
      width: 100%;
    }
  }
  &-header {
    margin-bottom: $spacing-xl;
  }
  &-body {
    margin-bottom: $spacing-xl;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-footer {
    margin-top: $spacing-xl;
  }

  &-title {
    font-size: 1.5rem;
  }
  &-close {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../../img/icons/cross.svg');
    width: 18px;
    height: 18px;

    &-contrasting {
      top: $spacing-xl;
      right: $spacing-xl;
      width: $spacing-lg;
      height: $spacing-lg;
      filter: brightness(0) invert(1);
      // background: url('../../img/icons/cross-fat.svg'); // TODO: Martijn
    }
  }
}

.modal-open .modal-dialog {
  display: block;
}

.modal.sm {
  .modal-dialog {
    max-width: 450px;
    margin: auto;
  }
}
.modal.md {
  .modal-dialog {
    max-width: 700px;
    margin: auto;
  }
}

html.modal-open {
  overflow: hidden;
}

.modal-input {
  margin-top: 20px;
}
